*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Schoolbell", serif;
}

:root{
    --textbrown: rgb(39, 24, 6);
    --midbrown: rgb(90, 69, 44);
    --softbrown: rgb(182, 158, 129);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--textred);
    flex-direction: column;
    gap: 20px;
    background-image: linear-gradient(rgba(255, 217, 186, 0.4)), url('bghome.jpg');
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin: 10px 0px;
}

.app{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
}

#icon{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: var(--textbrown);
    text-decoration: none;
    font-size: 20px;
}

#icon:hover{
    color: var(--midbrown);
}

.date{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}